<h1>Sudoku Solver</h1>
<p>Enter a puzzle to be solved:</p>

<%= form_with url: "/sudoku/create", method: :post do |form| %>
  <% (1..81).each do |number| %>
    <%= form.number_field :puzzle, in: 0..9, step: 1, value: 0, multiple: true %>
    <% if number % 9 == 0 %>
      <br>
    <% end %>
  <% end %>
  <%= form.submit "Submit" %>
<% end %>



